/* boostrap */
.tcarrucel{
    color: #e8fbff;
}
.stcarrucel{
    color: #e8fbff;
}


.img-fluid{
    width: 550px;
}
.card{
    width: 320px !important;
}
.card-img-top{
    width: 320px;
    height: 250px;
}

.card-img-top2{
    width: 320px;
    height: 250px;
}

.tamañot{
    width: 35% !important;
}

.tamañob{
    width: 50% !important;
}
.tamañoe{
    width: 60% !important;
}

.container{
    width: 320px !important;
}

.img-p{
    width: 350px !important;
}

.img-e{
    width: 450px;
}

.img-m{
    width: 350px;
}

.img-g{
    width: 300px;
}

/* fin de boostrap */
