/* boostrap */
.tcarrucel {
    color: #e8fbff;
}

.stcarrucel {
    color: #e8fbff;
}


.img-fluid {
    width: 550px;
}

.card {
    width: 320px !important;
}

.card-img-top {
    width: 320px;
    height: 250px;
}

.card-img-top2 {
    width: 320px;
    height: 250px;
}

.tamañot {
    width: 35% !important;
}

.tamañob {
    width: 50% !important;
}

.tamañoe {
    width: 60% !important;
}

.container {
    width: 320px !important;
}



/* fin de boostrap */