.img-uno:hover{
    transform: 
    scale(1.10) rotate(10deg);
}
.img-dos:hover{
    transform: 
    scale(1.10) rotate(10deg);
}
.img-tres:hover{
    transform: 
    scale(1.10) rotate(10deg);
}
.img-cuatro:hover{
    transform: 
    scale(1.10) rotate(10deg);
}

.logo:hover{
        transform: 
        scale(1.10) rotate(10deg);
}

.bot-al:hover{
    transform: scale(1.15) rotate(10deg);
}