/* inicio */
.cuerpo{
    background-color: #e8fbff;
    min-height: 100vh;
    /* background-image: url(../img/porton-uno.jpg) */;
    &__titulo{
        text-align: map-get($estilos, center);
        font-size: map-get($estilos, 15px);
        font-weight: map-get($estilos, 700);
    }
}
.cards-ini{
    margin-top: 3rem;
}

/* fin index */
