/* index */
.cuerpo {
    background-color: #e8fbff;
    min-height: 100vh;
    /* background-image: url(../img/porton-uno.jpg) */
    ;
}

.cuerpo__titulo {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
/* fin index */
