.portada2 {
    background-color:#e8fbff ;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.img-uno {
    grid-area: iri1;
    margin-left: 12px;
    height: 200px;
    width: 200px;
    border-radius: 15%;
}
.img-dos {
    grid-area: iri2;
    margin-left: 12px;
    height: 200px;
    width: 200px;
    border-radius: 15%;
}
.img-tres {
    grid-area: iri3;
    margin-left: 12px;
    height: 200px;
    width: 200px;
    border-radius: 15%;
}
.img-cuatro {
    grid-area: iri4;
    margin-left: 12px;
    height: 200px;
    width: 200px;
    border-radius: 15%;
}

.divGrande {
    width: 1260px;
    border: 1px solid #000;
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.segundo {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}

.primero {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "iri1 iri2" 
    "iri3 iri4" ;
    gap: 1rem;
    margin: 20px;
}

.tituloParrafo {
    width: 500px;
}


