/* media querys */
@media(min-width:480px){
    .header{
        & img{
        width: 35px;
        border-radius: 25%;
        position: relative;
        left: 1rem;
        top: 0.4rem;

        & ul{
            text-align: center;
            position: relative;
            bottom: 25px;
        }
    }
}
    .nave{
        &__enlace{
            color: whitesmoke;
            font-size: 15px;
            text-decoration: none;
            font-weight: 300;
        }
        &__item{
            display: inline;
            margin: 0.6rem;
    }
}
/* cuerpo inicio */
.cuerpo{
    &__titulo{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    }
    &__titulom{
        text-align: center;
        padding-top: 20px;
    }
}

}

@media(min-width:601px){
    .header{
        & img{
        width: 45px;
        border-radius: 25%;
        position: relative;
        left: 1rem;
        top: 1rem;
    }
        & ul{
        text-align: center;
        position: relative;
        bottom: 35px;
    }   
    .nave{
        &__enlace{
        color: whitesmoke;
        font-size: 17px;
        text-decoration: none;
        font-weight: 300;
        }
        &__item{
            display: inline;
            margin: 0.7rem;
    } 
    }
}
}
/* cuerpo inicio */
.cuerpo{
    &__titulo{
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    }
    &__titulom{
        font-size: 20px;
    }
}





/* MEDIDA 769PX */


@media screen and (max-width:769px){
    .header{
    display: flex;
    align-items: center;
    justify-content:space-between;
        & img{
        width: 40px;
        border-radius: 25%;
        position: absolute;
        left: 1rem;
        }
        &__open{
            text-decoration: none;
        }
    
    }


    .headerIcon{
        display: block !important;
        color: #fff;
        padding-right: 15px;
        font-size: 20px;
    }


    #navebarra{
        background-color: #202124;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80%;
        max-width: 350px;
        padding-left: 20px;

        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    #navebarra .nave__lista{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }
    
    #navebarra:target{
        transform: translate(0);
    }

    .nave__enlace{
        font-size: 25px;
        font-weight: inherit;
    }

    .nave__icon{
        display: block;
    }

    .cerrar{
        color: $color-exit;
    }
/* Cuerpo Inicio */
.cuerpo__titulo{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.cuerpo__titulom{
    text-align: center;
    padding-top: 20px;
}
/* aluminio */
.cuerpo__titulom{
    font-size: 30px;
}


.section{
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30px 1fr 30px 1fr;
    grid-template-areas: 
    "ese3"
    "ese1"
    "ese2"
    "ese4"
    "ese5"
    ;

    justify-items: center;
    justify-content: center;

    gap: 1rem;
        &__mapa--hijo5{
            height: 250px;
            width: 250px;
        }
        &__mapa--hijo2{
            text-align: center;
        }
        &__img--hijo3{
            grid-area: ese3;
        
            width: 250px;
        }
}

.divGrande{
    width: 320px;
    margin: 0%;
    flex-direction: column;
}
.img-uno{
    @include size(100px ,100px)
}
.img-dos{
    @include size(100px ,100px)
}
.img-tres{
    @include size(100px ,100px)
}
.img-cuatro{
    @include size(100px ,100px)
}

.primero{
    grid-template-columns: 100px 100px;
}
.tituloParrafo{
    width: 300px;
}

}
/* fin media querys */