/* navegacion */
.nave{
    &__icon{
    display: none;
    }
    &__enlace{
        color: whitesmoke;
        font-size: 10px;
        text-decoration: none;
        font-weight: 300;
    }
    &__item{
        display: inline;
        margin: 0.4rem;
    }

}

.headerIcon{
    display: none !important;
}

.header{
    width: 100%;
    height: 70px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(6,72,163,1) 58%, rgba(0,212,255,1) 100%);
    position: sticky;
    top: 0px;
    z-index: 1;
    &img{width: 15px;
        border-radius: 25%;
        position: relative;
        left: 1rem;
        top: 1rem;
    }
    &ul{
        text-align: center;
        position: relative;
        bottom: 15px;
    }
}


/* Fin navegacion */
